body{
    font-family: 'Montserrat', sans-serif;
}
section{
    margin-bottom: 100px;
}
h1{
    font-size: 60px;
    font-weight: 7000;
    line-height: 78px;
}
.font-color{
    color: #FBA24F;
}
.link-button{
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(#FF1E1E, #FBA24F);
    border-radius: 30px;
    font-weight: 700;
    color: white;
}
.half-width{
    width: 40%;
}
.padding-flexible{
    padding-top: 100px;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
}
.flexible-container{
    display: flex;
}
p{
    font-size: 20px;
}
.about-me{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.about-half-width{
    width: 40%;
    padding: 3.5% 0% 2% 5%;
}
.about-half-width img{
    width: 60%;
    padding-left: 100px;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.about-padding-flexible{
    padding-top: 100px;
    line-height: 32px;
}
.recipie-heading{
    text-align: center;
    line-height: 32px;
}
.recipie-item img{
    width: 100%;
    border-radius: 10px;
}
.recipie-item{
    padding: 20px;
    margin: 40px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    line-height: 32px;

}
.my-recipi{
    padding: 100px;
}
h3{
    font-size: 28px;
    font-weight: 800;
}
.social-media{
padding-left: 180px;
}
.social-media-area{
    border-radius: 30px;
    margin: 35px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
footer{
    text-align: center;
    padding: 100px;
    background-color: black;
}
.footer-font-color{
    color: gray;
}
footer p{
    color: rgb(201, 238, 146);
}